@import url("https://p.typekit.net/p.css?s=1&k=ryo4wsm&ht=tk&f=35472.35474.35476.35478&a=314682734&app=typekit&e=css");
@import "tailwindcss";

@font-face {
font-family:"basic-sans";
src:url("https://use.typekit.net/af/4cfce7/00000000000000007735abd4/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/4cfce7/00000000000000007735abd4/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/4cfce7/00000000000000007735abd4/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"basic-sans";
src:url("https://use.typekit.net/af/34f927/00000000000000007735abe8/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/34f927/00000000000000007735abe8/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/34f927/00000000000000007735abe8/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"basic-sans";
src:url("https://use.typekit.net/af/c07232/00000000000000007735abe6/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/c07232/00000000000000007735abe6/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/c07232/00000000000000007735abe6/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"basic-sans";
src:url("https://use.typekit.net/af/ed7e70/00000000000000007735abf2/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ed7e70/00000000000000007735abf2/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ed7e70/00000000000000007735abf2/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

body {
    font-family: "basic-sans", sans-serif;
}

@layer components { 

    .tippy-box {
        @apply bg-gray-600 px-1.5 py-0.5 text-sm rounded-sm text-white font-bold;
    }
}

@theme {
    --customShadow : 0 0 20px #0000004d;
    --font-1125: 1.125rem;
    --grad1: #7a36ff;
    --grad2: #66a6ff;
    --btnheight: 40px;
    --projectmediamaxwidth:704px;
    --linkedin:#0077b5;
} 

.gradientcolorfortext {
        background: linear-gradient(90deg, var(--grad1), var(--grad2));
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-style: normal;
}