@import url("https://p.typekit.net/p.css?s=1&k=xgw2mdk&ht=tk&f=49080.49086.49089&a=314682734&app=typekit&e=css");
@import "tailwindcss";

@font-face {
font-family:"elza";
src:url("https://use.typekit.net/af/f84176/00000000000000007735f907/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/f84176/00000000000000007735f907/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/f84176/00000000000000007735f907/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"elza";
src:url("https://use.typekit.net/af/771774/00000000000000007735f906/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/771774/00000000000000007735f906/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/771774/00000000000000007735f906/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"elza";
src:url("https://use.typekit.net/af/c87b5e/00000000000000007735f910/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/c87b5e/00000000000000007735f910/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/c87b5e/00000000000000007735f910/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
}
body {
    font-family: "elza", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

::selection {
  background-color: var(--grad1);
  color: white;
}


@layer components { 

    .tippy-box {
        @apply bg-gray-900 px-1.5 py-0.5 text-xs rounded-sm text-white font-medium;
    }
}

@theme {
    --customShadowLight : 0 0 20px #0000004d;
    --customShadowDark : 0 0 20px #ffffff40;
    --font-1125: 1.125rem;
    --grad1: #7a36ff;
    --grad2: #66a6ff;
    --btnheight: 40px;
    --projectmediamaxwidth:704px;
    --linkedin:#0077b5;
} 

.gradientcolorfortext {
        background: linear-gradient(90deg, var(--grad1), var(--grad2));
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-style: normal;
}